/* Goku image styling */
.goku_image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
    animation: fadeIn 7s;
  }
  
  
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* rock image styling */
.rock_image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

/* rock image styling */
.spooky_image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}


  
  /* Lancer image styling */
  .lancer_image {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    pointer-events: none;
  }
  