.honeypot {
  display: none;
}


.content-title{
  display: flex;
  justify-content: center;
  color: black;
  padding: 10px;
}


.form-container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #d5d5d5;
  border: 2px solid #525252;
  border-radius: 15px;
  align-items: center;
  padding: 5px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.form__title{
  display: flex;
  justify-content: center;
  color: #414141;
  padding: 10px;
}

.form__Input--container{
  display: flex;
  flex-direction: column;

}

.form__Input--Name{
  display: flex;
  position: relative;
  width: 70vh;
  padding: 15px;
  transition: 1s;
  justify-content: space-evenly;
}

.form__Input--Message{
  display: flex ;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.label{
  color: #414141;
}
.message-box{
  border-radius: 6px;
  width: 80%;
  color: #333;
  padding: 12px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #f8f8f8;
  border: 2px solid #525252;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  font-size: 1.2em;
  font-family: Raleway,sans-serif;
  font-variant-numeric: lining-nums;
}

.form-submit_container{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10vh;
  transition: 1s;
}



.form-link_container{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.input-animated {
  position: relative;
}

.input--name {
  font-size: 1em;
  padding: 0.6em 1em;
  border: 2px solid #525252;
  border-radius: 6px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  max-width: 200px;
  color: #333;
}

.input--name:hover {
  background-color: #f2f2f2;
}

.input--name:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input--name::placeholder {
  color: #999;
}

.highlight {
  position: relative;
  top: 5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #1e1e1e;
  transition: width 0.3s ease;
}

.input--name:focus + .highlight {
  width: 100%;
}

/* Optional: Animation on focus */
@keyframes input-focus {
  from {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  }

  to {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.input--name:focus {
  animation: input-focus 0.3s ease;
}



.loading-icon{
  display: flex;
  height: 100%;
  justify-content: center;
}

.spin {
  width: 3.25em;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
 }


 circle {
  fill: none;
  stroke: hsl(214, 97%, 59%);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
 }
 
 @keyframes rotate4 {
  100% {
   transform: rotate(360deg);
  }
 }
 
 @keyframes dash4 {
  0% {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
  }
 
  50% {
   stroke-dasharray: 90, 200;
   stroke-dashoffset: -35px;
  }
 
  100% {
   stroke-dashoffset: -125px;
  }
 }



 .submitButtonContainer{
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10vh;
  transition: 1s;
}

.submitButton {
  color: #333;
  background-color: #f8f8f8;
  position: relative;
  margin: 15px;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;

  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #525252;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #1b1b1b;
  width: 200px;
  height: 50px;
}

.submitButton:hover {
  color: rgb(246, 246, 246);
  box-shadow: inset 0 -100px 0 0 #000000;
  border: 2px solid #ffffff;
  transition: 1s;
}

.submitButton:active {
  transform: scale(0.9);
}