
.container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 100px 90px;
  position: fixed;
  left: 10px;
  width: 100%;
  top: 312px;
  }

  .panel, .shadow-box, .indicators_container {
    pointer-events: none; /* Prevent clicks on the outer elements */
  }
  
  .switch, .hole {
    pointer-events: auto; /* Allow clicks on the switch only */
    cursor: pointer;
  }
  

.panel {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow:
    inset -4px -4px 8px rgba(0, 0, 0, 0.25),
    inset 4px 4px 8px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(177, 177, 177, 0.25),
    1px 1px 1px rgba(0, 0, 0, 0.1),
    4px 4px 2px rgba(0, 0, 0, 0.05),
    6px 6px 3px rgba(0, 0, 0, 0.05);
  height: 170px;
  position: relative;
  width: 97px;
}


.hole {
  background-color: #bbb;
  border-radius: 6px;
  height: 100px;
  left: 50%;
  padding: 1px;
  position: absolute;
  top: 47%;
  transform: translateX(-50%) translateY(-50%);
  width: 47px;
}


.switch {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.75),
    -2px -2px 2px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
}

.shadow-box {
  height: 97px;
  left: 47px;
  overflow: hidden;
  position: absolute;
  width: 26px;
  z-index: 1;
}
.shadow-box.top {
  top: -4px;
}


.shadow-box.bottom {
  top: 2px;
}

.shadow {
  background-color: rgba(0, 0, 0, 0.33);
  height: 70px;
  position: absolute;
  transition:
    left 0.25s ease,
    filter 0.25s ease,
    opacity 0.25s ease,
    transform 0.25s ease;
  width: 80px;
}
.shadow.top {
  bottom: 20px;
  filter: blur(0px);
  left: -90px;
  opacity: 0.1;
  transform: rotate(0deg);
}

.shadow.bottom {
  bottom: 0;
  left: -70px;
  filter: blur(10px);
  opacity: 1;
  transform: rotate(-20deg);
}


.switch_top {
  background-color: #fff;
  box-shadow:
    inset 0 0 3px rgba(0, 0, 0, 0.1),
    inset 0 0 12px rgba(0, 0, 0, 0.05);
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  transition:
    background 0.25s ease,
    box-shadow 0.25s ease;
  width: 100%;
  z-index: 2;
}
.outsetTop {
  background-color: #fff;
  background-image: linear-gradient(90deg, #fff 0%, #f7f7f7 100%);
  height: 0;
  transition: height 0.25s ease;
}


.switch_bottom {
  background-color: #eee;
  box-shadow:
    inset 0 0 3px rgba(0, 0, 0, 0.1),
    inset 0 0 12px rgba(0, 0, 0, 0.05);
  height: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  transition:
    background 0.25s ease,
    box-shadow 0.25s ease;
  width: 100%;
  z-index: 2;
}
.outsetBottom {
  bottom: 0;
  background-color: #fff;
  background-image: linear-gradient(90deg, #e7e7e7 0%, #d7d7d7 100%);
  box-shadow:
    inset 0 0 3px rgba(0, 0, 0, 0.1),
    inset 0 0 12px rgba(0, 0, 0, 0.05);
  height: 10px;
  position: absolute;
  transition: height 0.25s ease;
  width: 100%;
}


.input {
  position: absolute;
}

.input[type="checkbox"]:checked {
  position: absolute;
  + .hole {
    .switch {
      .switch_top {
        background-color: #eee;
        box-shadow:
          inset 0 0 6px rgba(0, 0, 0, 0.05),
          inset 0 0 24px rgba(0, 0, 0, 0.025),
          inset -16px -16px 36px rgba(0, 0, 0, 0.1);

        .outsetTop {
          height: 5px;
        }
      }

      .switch_bottom {
        background-color: #fff;

        .outsetBottom {
          height: 0px;
        }
      }

      .shadow.top {
        filter: blur(10px);
        left: -70px;
        opacity: 1;
        transform: rotate(20deg);
      }

      .shadow.bottom {
        left: -90px;
        filter: blur(0px);
        opacity: 0.5;
        transform: rotate(0deg);
      }
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}



.indicators_container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 110%;
  width: 96px;
  left: -26px;
}

.indicator {
  width: 15px; 
  height: 15px;
  border-radius: 50%;
  border: 2px solid rgb(59, 59, 59); 
  transition: background-color 0.25s ease, filter 0.25s ease;
  filter: brightness(1.5);
}

.input[type="checkbox"]:checked + .hole .indicator-on {
  background-color: green;
  box-shadow: 0 -0.06em 0.1em hsl(127.6, 100%, 23.3%) inset, 
  0 -0.15em 0.4em hsl(127.6, 100%, 27.8%) inset, 
  0 0.05em 0.05em hsl(128, 28%, 43%) inset, 
  0.05em 0 0.1em hsl(128.1, 100%, 29.2%) inset, 
  -0.05em 0 0.1em hsl(127.8, 100%, 22.5%) inset, 
  0 0.1em 0.4em hsl(128.3, 100%, 65.9%) inset;
}

.input + .hole .indicator-off {
  background-color: red;
  box-shadow: 0 -0.06em 0.1em hsl(0, 100%, 26.3%) inset,
  0 -0.15em 0.4em hsl(0, 100%, 16.7%) inset, 
  0 0.05em 0.05em hsl(0, 100%, 46.3%) inset, 
  0.05em 0 0.1em hsl(0, 0%, 0%) inset, 
  -0.05em 0 0.1em hsl(0, 100%, 50%) inset, 
  0 0.1em 0.4em hsl(0, 100%, 46.7%) inset;
}


.input[type="checkbox"]:checked + .hole .indicator-off {
  background-color: gray;
  box-shadow: 0 -0.06em 0.1em hsl(0, 0%, 31.8%) inset,
  0 -0.15em 0.4em hsl(0, 0%, 37.6%) inset,
  0 0.05em 0.05em hsl(0, 0%, 49%) inset,
  0.05em 0 0.1em hsl(0, 0%, 39%) inset,
  -0.05em 0 0.1em hsl(0, 0%, 18.4%) inset,
  0 0.1em 0.4em hsl(0, 0%, 51.8%) inset;
}

.input + .hole .indicator-on {
  background-color: gray;
  box-shadow: 0 -0.06em 0.1em hsl(0, 0%, 31.8%) inset,
  0 -0.15em 0.4em hsl(0, 0%, 37.6%) inset,
  0 0.05em 0.05em hsl(0, 0%, 49%) inset,
  0.05em 0 0.1em hsl(0, 0%, 39%) inset,
  -0.05em 0 0.1em hsl(0, 0%, 18.4%) inset,
  0 0.1em 0.4em hsl(0, 0%, 51.8%) inset;
}

