.wrap {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .panel {
    background-color: #fff;
    border-radius: 4px;
    box-shadow:
      inset -4px -4px 8px rgba(0, 0, 0, 0.25),
      inset 4px 4px 8px rgba(255, 255, 255, 0.5),
      inset 2px 2px 2px rgba(177, 177, 177, 0.25),
      -4px -4px 16px rgba(255, 255, 255, 0.25),
      1px 1px 1px rgba(0, 0, 0, 0.1),
      4px 4px 2px rgba(0, 0, 0, 0.05),
      6px 6px 3px rgba(0, 0, 0, 0.05);
    height: 420px;
    position: relative;
    width: 270px;
  }
  
  .screw {
    align-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 100%;
    box-shadow:
      inset -3px -3px 6px rgba(0, 0, 0, 0.1),
      inset 0 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    height: 24px;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
  }
  .screw.top {
    top: 24px;
  }
  .screw.top.screw_slit {
    transform: rotate(10deg);
  }
  
  .screw.bottom {
    bottom: 24px;
  }
  .screw.bottom.screw_slit {
    transform: rotate(-30deg);
  }
  
  .screw_slit {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 4px;
    width: calc(100% - 2px);
  }
  
  .switch {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow:
      0 0 2px rgba(0, 0, 0, 0.75),
      -2px -2px 2px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .hole {
    background-color: #bbb;
    border-radius: 6px;
    height: 240px;
    left: 50%;
    padding: 2px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 120px;
  }
  
  .groove {
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow:
      inset 1px 1px 2px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(0, 0, 0, 0.2),
      -1px -1px 4px rgba(255, 255, 255, 0.5);
    padding: 5px;
    height: 100%;
    width: 100%;
  }
  
  .switch_top {
    background-color: #eee;
    box-shadow:
      inset 0 0 6px rgba(0, 0, 0, 0.05),
      inset 0 0 24px rgba(0, 0, 0, 0.025),
      inset -16px -16px 36px rgba(0, 0, 0, 0.1);
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    transition:
      background 0.25s ease,
      box-shadow 0.25s ease;
    width: 100%;
    z-index: 2;
  }
  .outsetTop {
    background-color: #fff;
    background-image: linear-gradient(90deg, #fff 0%, #f7f7f7 100%);
    height: 10px;
    transition: height 0.25s ease;
  }
  
  .switch_bottom {
    background-color: #fff;
    box-shadow:
      inset 0 0 3px rgba(0, 0, 0, 0.1),
      inset 0 0 12px rgba(0, 0, 0, 0.05);
    height: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    transition:
      background 0.25s ease,
      box-shadow 0.25s ease;
    width: 100%;
    z-index: 2;
  }
  .outsetBottom {
    bottom: 0;
    background-color: #fff;
    background-image: linear-gradient(90deg, #e7e7e7 0%, #d7d7d7 100%);
    box-shadow:
      inset 0 0 3px rgba(0, 0, 0, 0.1),
      inset 0 0 12px rgba(0, 0, 0, 0.05);
    height: 0px;
    position: absolute;
    transition: height 0.25s ease;
    width: 100%;
  }
  
  .shadow-box {
    height: 208px;
    left: 104px;
    overflow: hidden;
    position: absolute;
    width: 100px;
    z-index: 1;
  }
  .shadow-box.top {
    top: -96px;
  }
  
  .shadow-box.bottom {
    top: 20px;
  }
  
  .shadow {
    background-color: rgba(0, 0, 0, 0.33);
    height: 90px;
    position: absolute;
    transition:
      left 0.25s ease,
      filter 0.25s ease,
      opacity 0.25s ease,
      transform 0.25s ease;
    width: 90px;
  }
  .shadow.top {
    bottom: 20px;
    filter: blur(10px);
    left: -70px;
    opacity: 1;
    transform: rotate(20deg);
  }
  
  .shadow.bottom {
    bottom: 0;
    left: -90px;
    filter: blur(0px);
    opacity: 0.5;
    transform: rotate(0deg);
  }
  
  .input {
    position: absolute;
  }
  
  .input[type="checkbox"]:checked {
    position: absolute;
    + .panel {
      .switch {
        .switch_top {
          background-color: #fff;
          box-shadow:
            inset 0 0 3px rgba(0, 0, 0, 0.1),
            inset 0 0 12px rgba(0, 0, 0, 0.05);
  
          .outsetTop {
            height: 0;
          }
        }
  
        .switch_bottom {
          background-color: #eee;
  
          .outsetBottom {
            height: 10px;
          }
        }
  
        .shadow.top {
          bottom: 20px;
          filter: blur(0px);
          left: -90px;
          opacity: 0.1;
          transform: rotate(0deg);
        }
  
        .shadow.bottom {
          left: -70px;
          filter: blur(10px);
          opacity: 1;
          transform: rotate(-20deg);
        }
      }
  
      .overlay {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  