.main-layout{
  position: relative;
}

.main-overlay.blurred * {
  pointer-events: none !important;
}

.main-overlay{
  width: 100%;
  min-height: 100vh;
  transition: filter 0.5s ease;
}


.main-overlay.blurred {
  filter: blur(5px);
}


.contact-container{
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}


.contact-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100; 
  opacity: 0;
  transition: opacity 1.5s ease;
  pointer-events: none;
  width: 80%;
}

.contact-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.contact-trigger{
  position: absolute;
  top: 50%; 
  left: 0;
  width: 100%;
  height: 1px; 
  transform: translateY(-50%); 
  background: transparent; 
  z-index: 10;
}


