.TextTest{
    height: 1000px;
    color: black;
}

.texts{
    position: fixed;
}

.scroll-blur-container {
    position: relative;
  }
  
  .content {
    transition: filter 0.3s ease;
  }
  
  .content.blurred {
    filter: blur(5px);
    pointer-events: none; /* Disable interactions */
  }


.overlay_contact {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}